.color-filter {
  width: 40px;
  height: 40px;
  cursor: pointer;

  &.active {
    border: 2px solid black;
  }

  &:last-child {
    margin-right: 0 !important;
  }
}

.shape-filter {
  cursor: pointer;

  &:last-child {
    margin-right: 0 !important;
  }
}
